USE [master]
GO
/****** Object:  Database [pasting]    Script Date: 18/04/2023 15:22:26 ******/
CREATE DATABASE [pasting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pasting', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pasting.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pasting_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\pasting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pasting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pasting]
GO
/****** Object:  User [ppc]    Script Date: 18/04/2023 15:22:27 ******/
CREATE USER [ppc] FOR LOGIN [ppc] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ppc]
GO
/****** Object:  Table [dbo].[data_pasting]    Script Date: 18/04/2023 15:22:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_pasting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[kode_rak] [varchar](50) NULL,
	[gedung_asal] [varchar](50) NULL,
	[gedung_tujuan] [varchar](50) NULL,
 CONSTRAINT [PK_data_pasting] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[data_pasting] ADD  CONSTRAINT [DF_data_pasting_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO
